a{
	color: #222;
}
::placeholder {
	color: #000;
}
.box-top{
	overflow: hidden;
	border-bottom: 0px solid #eee;
}
.logo{
	float: left;
	height: 45px;
	margin: 10px 20px;
}
#box{
	display: flex;
	float: left;
	width: 98%;
	margin-left: 1%;
	padding: 10px;
	border: 0px solid #eee;
}
#box-left{
	float: left;
	width: 300px;
	height: auto;
	padding: 10px;
	border: 0px solid #eee;
}

#box-right{
	float: left;
	width: 100%;
	height: auto;
	padding: 10px;
	border: 0px solid #eee;
}
.box-bottom{
	padding: 50px;
	overflow: hidden;
	border-bottom: 0px solid #eee;
	text-align: center;
	box-shadow: 0px 3px 5px rgba(0,0,0,0.03) inset;
	font-size: 13px;
}
h1, h2, h3, h4{
	color: #273849;
	margin: 1%;
	margin-top: 0px;
}
error span{
	padding-left: 1%;
}
.red{
	font-weight: 400;
	float: left;
	width: 98%;
	margin: 1%;
	color: #f22;
	padding: 10px 15px;
	background: rgba(255, 44, 44, .05);
	border: 1px solid #f22
}
.green{
	font-weight: 400;
	color: #21b973;
	float: left;
	width: 98%;
	margin: 1%;
	color: #21b973;
	padding: 10px 15px;
	background: rgba(25, 123, 90, .05);
	border: 1px solid #21b973;
}
small{
	color: #21b973
}
#exit{
	float: right;
	margin: 25px 20px 0px 10px;
	cursor: pointer
}
#exit:hover{
	color: #f22
}
.avatar{
	float: right;
	margin: 10px;
	padding: 3px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid #21b973;
}
.avatar img{
	width: 100%;
	height: 100%;;
	border-radius: 50%;
	object-fit: cover;
}
.hello{
	float: right;
	margin: 25px 10px;
	font-weight: 500
}

/* Menu left */
.menu-box{float: left; width: 100%; padding: 9px; overflow: hidden; position: relative}
.menu-box *{box-sizing: border-box; text-decoration: none; outline: none}
.menu-box i{margin-right: 15px; margin-left: 15px;}
.menu-box a{transition: all .5s}
.menu-box a:hover{color: #21b973}
.menu-box .title{float: left; width: 100%; padding: 9px; background: #fff; color: #222}
.menu-box .title-open{border-left: 0px solid #f9fcfb; font-weight: 900}
.menu-box .title-open hide{font-weight: 900}
.menu-box .submenu{display: none; float: left; width: 100%; overflow: hidden}
.menu-box .submenu-open{display: inherit !important}
.menu-box .submenu-link{float: left; width: 100%; padding: 9px; background: #f9f9f9; color: #222}
.menu-box .submenu-link-active{color: #21b973; font-size: 15.5px; font-weight: 400}

/* Panel right form */
.box-wrap{
	min-height: 400px;
	padding: 10px;
	border: 0px solid #eee;
	border-radius: 6px;
	overflow: hidden;
	box-sizing: border-box
}
.box-wrap *{
	box-sizing: border-box;
	outline: none;
}
.box-wrap h1, .box-wrap h2, .box-wrap h3, .box-wrap h4{
	float: left; width: 100%; margin: 1%;
}
.box-wrap line{
	float: left; width: 100%; min-height: 10px; overflow: hidden;
}
.box-wrap label{
	float: left; width: 98%; margin: 1%;
}
.box-wrap input, .box-wrap textarea, .box-wrap select{
	font-size: 16px;
	float: left;
	width: 98%;
	min-width: 98%;
	max-width: 98%;
	padding: 15px;
	margin: 1%;
	border: 1px solid #e0e6e9;
	transition: all .5s;
	vertical-align:top;
}
.box-wrap input[type=file]{
	padding: 11px;
}
.box-wrap select{
	padding: 13px;
}
.box-wrap input:focus, .box-wrap textarea:focus{
	border: 1px solid #21b973
}
.box-wrap textarea{
	min-height: 150px;
}
.box-wrap .btn{
	font-weight: 900;
	width: auto;
	min-width: auto;
	max-width: auto;
	padding: 10px 25px;
	background: #fff;
	color: #21b973;
	border: 1px solid #21b973;
	cursor: pointer;
	transition: all .5s;
	box-sizing: border-box;
	margin: 1.5%;
}
.box-wrap .btn:hover{
	background: #21b973;
	color: #fff;
	box-sizing: border-box;
}
.box-wrap .float-right{
	float: right
}
.box-wrap .float-left{
	float: left
}
.box-wrap .w-100{
	float: left; width: 98%; margin: 1%;
	min-width: 98%;
	max-width: 98%;
}
.box-wrap .w-50{
	float: left; width: 48%; margin: 1%;
	min-width: 48%;
	max-width: 48%;
}
.box-wrap .w-33{
	float: left; width: 31.333%; margin: 1%;
	min-width: 31.333%;
	max-width: 31.333%;
}
.box-wrap .w-25{
	float: left; width: 23%; margin: 1%;
	min-width: 23%;
	max-width: 23%;
}

/* Select arrow */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
select::-ms-expand {
    display: none;
}
/* Select arrow */

/* Center div */
.parent {
	position: relative;
}
.tooltip {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/* Center div */

@media all and (max-width: 1024px){
	.box-wrap .w-50, .box-wrap .w-33, .box-wrap .w-25{
		width: 100% !important;
		min-width: 100% !important;
		max-width: 100% !important;
	}
	#box-left{
		float: left;
		margin-left: 0px;
		width: 90px;
	}
	.box-wrap .btn{
		margin: 0.5%;
	}
	hide{
		display: none;
	}
}

/* Attributes */
#btn-add-attribute{
	float: right;
	margin-right: 2%;
	margin-bottom: 5px;
	padding: 10px 25px;
	border-radius: 50px;
	color: #21b973;
	border: 1px solid #21b973;
	box-shadow: 0px 1px 5px #21b97275;
	transition: all .5s;
}
#btn-add-attribute:hover{
	color: #fff;
	background: #21b973;
}
.pages{
	float: left; width: 100%;
	padding: 25px;
	text-align: center;
	justify-content: center
}
.pages a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin: 5px;
	min-width: 40px;
	height: 40px;
	border-radius: 6px
}
ul{
	float: left;
	width: 98%;
	margin: 1%;
	padding: 0px;
}
ul li{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0px;
	margin-bottom: 10px;
	float: left; width: 100%;
	border-radius: 6px;
	border: 1px solid #eee;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.06);
}
ul li div{
	display: flex;
	width: 100%;
	padding: 15px;
	font-weight: 500;
	color: #222;
}
ul li > div:first-child{
	width: auto;
	min-width: 50px;
	justify-content: left;
}
ul li  > div:last-child{
	width: auto;
	min-width: 100px;
	justify-content: right;
}
ul li:hover{
	border-color: #21b973;
}
ul li div span{
	margin-right: 10px;
}
ul li .btn-small-li{
	float: right;
	padding: 5px;
	margin-right: 5px;
	background: #eee;
	min-width: 30px;
	min-height: 30px;
	text-align: center;
	border-radius: 6px;
}

ul.header li{
	border: 0px;
	border-bottom: 1px solid #21b973;
	color: #21b973;
}
ul.header li div{
	color: #21b973;
}

#box-fixed, #box-fixed-edit{
	width: 80%;
	max-width: 400px;
	padding-bottom: 10px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	border-radius: 6px 6px 0px 0px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	background: #fff;
	margin-bottom: 30px;
	border: 1px solid #21b973;
}
#box-fixed h3, #box-fixed-edit h3{
	float: left; margin: 0px; padding: 15px; margin-bottom: 10px;
	background: #fff; border-bottom: 1px solid #21b973; color: #21b973;
	border-radius: 6px 6px 0px 0px;
}
#box-fixed h3 i, #box-fixed-edit h3 i{
	float: right; padding: 5px; cursor: pointer
}
#box-fixed .btn, #box-fixed-edit .btn{
	margin: 2%; border-radius: 50px;
}
#box-fixed input[type=text], #box-fixed-edit input[type=text], #box-fixed select, #box-fixed label, #box-fixed-edit select, #box-fixed-edit label{
	min-width: 96%;
	max-width: 96%;
	margin: 2%;
}
.close:hover{
	color: #b92142
}
.color-green{
	color: #21b973
}
.color-red{
	color: #b92142
}
highlight{
	color: #21b973; font-weight: 900; margin-left: 5px; margin-right: 5px;
}
/* Add product */
#product-image{
	float: left; width: 200px; height: 200px;
	padding: 10px; border: 2px dashed #eee;
	object-fit: cover;
}
.ml{
	float: left;
	margin-left: 10px;
}

@media all and (max-width: 1024px){
	#box-fixed .w-50, #box-fixed-edit .w-50{
		margin: 0%;
	}
}
@media all and (max-width: 768px){
	ul li{
		display: flex;
		flex-direction: column;
		width: 100% !important;
	}
	ul li div{
		min-width: 100% !important;
		float: left; text-align: left; justify-content: left; align-content: flex-start
	}
}

.payment-btn{
	float: left; width: 100%;
	padding: 5px 10px;
	color: #21b973;
	background: #fff;
	text-align: center; font-size: 14px;
	justify-content: left;
	border-radius: 50px;
}
.payment-btn i{
	margin-right: 10px;
}
.paymeny-pending{
	justify-content: center;
	border: 1px solid rgb(251, 255, 0);
	color: #222;
	background: rgb(251, 255, 0);
}
.paymeny-failed{
	justify-content: center;
	border: 1px solid #f23;
	color: #f23;
	background: rgba(255, 34, 67, 0.068)
}
.paymeny-processing{
	justify-content: center;
	border: 1px solid #f60;
	color: #f60;
	background: rgba(255, 102, 0, 0.089)
}
.paymeny-completed{
	justify-content: center;
	border: 1px solid #5c5;
	color: #5c5;
	background: rgba(85, 204, 85, 0.082);
}
.paymeny-canceled{
	justify-content: center;
	border: 1px solid #800080;
	color: #800080;
	background: #80008013;
}
.paymeny-delivery{
	justify-content: center;
	border: 1px solid #09f;
	color: #09f;
	background: rgba(0, 153, 255, 0.089);
}
#search-txt{
	float: right; min-width: 200px; width: 200px;
}
#search-btn{
	float: right;
}
#btn-search{
	float: right;
	margin-right: 2%;
	margin-bottom: 5px;
	padding: 10px 25px;
	border-radius: 50px;
	color: #21b973;
	border: 1px solid #21b973;
	box-shadow: 0px 1px 5px #21b97275;
	transition: all .5s;
}
#btn-search:hover{
	color: #fff;
	background: #21b973;
}

#select-status{
	float: left; width: 200px; min-width: 200px; padding: 5px;
	border-radius: 50px; padding: 5px 20px;
}
#submit-status{
	float: left; width: 200px; min-width: 200px; padding: 5px;
	background: #21b973; color: #fff;
	border: 1px solid #21b973;
	border-radius: 50px; padding: 5px 20px;
}
#curr-status{
	float: rigth; width: 200px; min-width: 200px; padding: 5px;
	background: #eee; color: #000;
	border: 1px solid #000;
	border-radius: 50px; margin-left: 20px;
	padding: 5px 20px; font-size: 13px;
}
strong{
	font-size: 25px; padding: 5px 15px; border: 1px solid #222;
	border-radius: 50px; margin-left: 10px;
}

.pr{
	float: left; width: 100%; padding: 10px;
	border-radius: 6px; overflow: hidden;
	border: 1px solid #eee; border-left: 2px solid #21b973;
	margin-bottom: 10px; box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
	color: #273849;
}
.pr > .flex{
	display: flex;
	align-items: center;
	justify-items: left; padding: 5px; font-weight: 600
}
.pr .flex > div{
	float: left; width: 100%;
}
.pr .flex > div:last-child{
	text-align: right
}
.ad{
	float: left; width: 100%;
	border-radius: 6px; overflow: hidden;
	margin: 10px 0px;
	padding: 5px; background: #e0e6e9
}
.ad > .flex{
	padding: 10px;
	display: flex;
	align-items: center;
	justify-items: left;
	font-weight: 500
}
.ad .flex > div{
	float: left; width: 100%;
}
.ad .flex > div:last-child{
	text-align: right
}
.ad .empty-addons{
	float: left; width: 100%; padding: 5px 0px;
}
.ad h4{
	margin: 5px 10px;
}
.empty-addons{
	margin-left: 10px;
}
#payment{
	float: left; width: 100%; padding: 10px; color: #21b973
}
.thin{
	float: left; width: 100%;  padding: 10px;
}
#printarea{
	overflow: hidden;
}
#printarea h3 *{
	float: left; width: auto;
}
#printarea h2{
	float: left; width: 98%; margin: 0% 1%;
}

/* Declare print area div */
@media print
{
	body *, #content * { display:none; }
	#printarea *, body #box, body #box #box-right, body #box #box-right * { display: inherit; }
	#printarea h3 *{
		float: left; width: auto;
	}
	#printarea h2{
		float: left; width: 98%; margin: 0% 1%;
	}
	.pr{
		float: left; width: 100%; padding: 10px;
		border-radius: 6px; overflow: hidden;
		border: 1px solid #eee; border-left: 2px solid #21b973;
		margin-bottom: 10px; box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
		color: #273849;
	}
	.pr > .flex{
		display: flex !important;
		align-items: center;
		justify-items: left; padding: 5px; font-weight: 600
	}
	.pr .flex > div{
		float: left; width: 100%;
	}
	.pr .flex > div:last-child{
		text-align: right
	}
	.ad{
		float: left; width: 100%;
		border-radius: 6px; overflow: hidden;
		margin: 10px 0px;
		padding: 5px; background: #e0e6e9
	}
	.ad > .flex{
		padding: 10px;
		display: flex !important;
		align-items: center;
		justify-items: left;
		font-weight: 500
	}
	.thin b{
		float: left; width: auto; margin-right: 10px;
	}
 }