.products{
	float: left; width: 100%; background: #f9f9f9
}
.products .h1{
	float: left; width: 98%;
	padding: 10px 20px; margin: 1%;
	font-weight: 900; font-size: 19px;
	background: #fff;
}

.products .list{
	float: left; width: 98%;
	padding: 10px; margin: 1%;
	font-weight: 400; font-size: 14px;
	background: #fff
}

.products .list .product{
	position: relative;
	float: left; width: 31.333%;
	padding: 10px; margin: 1%; margin-bottom: 10px;
	background: #fff;
	border: 2px solid #fff;
	border-radius: 6px;
	transition: all .6s
}
.products .list .product:hover{
	border: 2px solid #ffe600;
	box-shadow: 0px 0px 5px #ffe60094;
	background: #ffe60017
}
.products .list .product .sale{
	position: absolute; top: 25px; right: 25px; z-index: 8;
	padding: 5px 30px;
	background: #ffe600; border-radius: 6px;
	color: #222; font-weight: 700
}
.products .list .product .sale-off{
	display: none
}
.products .list .product .img{
	overflow: hidden; position: relative;
	padding: 5px;
	border: 0px solid #222; border-radius: 1%;
}
.products .list .product img{
	float: left; width: 100%;
	min-height: 300px; max-height: 300px;
	border-radius: 1%;
	overflow: hidden; object-fit: cover;
	transition: all .6s
}
.products .list .product img:hover{
	transform: scale(1.2) rotate(5deg);
	/* transform: rotate(15deg); */
}
.products .list .product .name{
	display: flex;
	float: left; width: 98%; height: 100px;
	padding: 10px; margin: 1%;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 1.8vw; font-weight: 400
}
.products .list .product .price{
	box-sizing: border-box;
	float: left; width: 48%;
	padding: 10px 0px; margin: 1%; margin-top: 0px;
	font-size: 1.5vw; font-weight: 400
}
.products .list .product .price curr{
	vertical-align: super;
	font-size: 1.2vw; font-weight: 400;
}
.products .list .product .add-to-cart{
	box-sizing: border-box;
	float: right; width: 48%;
	padding: 10px 20px; margin: 1%;
	font-size: 1.3vw; font-weight: 900;
	border: 2px solid #222; border-radius: 50px;
	transition: all .6s
}
.products .list .product .add-to-cart span{
	float: left; text-align: left
}
.products .list .product .add-to-cart i{
	float: right; display: none; transition: all .5s;
	padding: 2px;
}
.products .list .product .add-to-cart:hover{
	border-color: #ffe600;
	background: #ffe600;
	color: #222;
	cursor: pointer;
	transition: all .4s
}
.products .list .product .add-to-cart:hover i{
	float: right; display: inherit
}
.products .product-pagine{
	float: left; width: 98%; margin: 20px 1%;
	display: flex; justify-content: center; align-items: center;
	background: #fff
}
.products .product-pagine a{
	padding: 10px; margin: 15px;
	border-radius: 25px; border: 1px solid #222;
	min-height: 40px; min-width: 42px;
	text-align: center;
	transition: all .5s
}
.products .product-pagine a:hover{
	background: #ffe600; color: #fff; border-color: #ffe600
}
.products .product-pagine #product-curr-page{
	padding: 10px 30px; background: #000; color: #fff; border-radius: 25px;
}

@media all and (max-width: 1024px)
{
	.products .list .product{
		float: left; width: 48%;
	}
	.products .list .product .name{
		height: 70px;
		font-size: 2.7vw;
	}
	.products .list .product .price{
		width: 98%;
		font-size: 2.5vw; text-align: center
	}
	.products .list .product .add-to-cart{
		width: 98%;
		font-size: 2vw;
	}
}
@media all and (max-width: 640px)
{
	.products .list .product{
		float: left; width: 98%;
	}
	.products .list .product .name{
		height: 70px;
		font-size: 4vw;
	}
	.products .list .product .price{
		font-size: 4vw;
	}
	.products .list .product .price curr{
		font-size: 3vw;
	}
	.products .list .product .add-to-cart{
		font-size: 3vw;
	}
}

#black-hole{
	position: fixed; z-index: 10;
	top: 0px; left: 0px;
	width: 100%; height: 100%;
	overflow: hidden;
	background: rgba(255, 255, 255, 0.719);
}
#black-hole .close-it{
	position: relative;
	float: left; width: 100%; z-index: 12;
	text-align: right; padding: 20px;
	color: #fff;
}
#black-hole .close-it i{
	padding: 10px;
	min-width: 35px; min-height: 35px; text-align: center;
	background: #ffe600; color: #000;
	border-radius: 50px;
}
#black-hole .close-it i:hover{
 	background: #000; color: #f20; cursor: pointer;
}
#add-product-fixed{
	position: fixed; z-index: 11;
	top: 5vh; left: 10vw;
	width: 80vw;
	height: 90vh;
	padding: 5px 20px;
	border-radius: 6px;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.3);
	background: #fff;
	overflow-y: scroll
}
#add-product-fixed .top{
	display: flex;
	float: left; width: 100%;
	margin-top: 20px;
}
#add-product-fixed .top img{
	float: left; min-width: 200px; height: 200px;
	margin-bottom: 10px;
	border-radius: 6px;
	object-fit: cover
}
#add-product-fixed .top .about{
	float: left; width: 100%;
}
#add-product-fixed .top .about .name{
	font-size: 30px; font-weight: 900;
	padding: 0px 20px;
}
#add-product-fixed .top .about .desc{
	font-size: 15px; font-weight: 400;
	padding: 0px 20px;
}
#add-product-fixed .top .right{
	float: left; min-width: 200px;
}
#add-product-fixed .top .right .price{
	float: right; margin: 2%;
	font-weight: 900; font-size: 31px;
}
#add-product-fixed .top .right .add-to-cart-now{
	float: right; width: auto; margin: 2%;
	padding: 10px 35px;
	border: 1px solid #222; border-radius: 50px;
	transition: all .5s
}
#add-product-fixed .top .right .add-to-cart-now:hover{
	background: #ffe600; color: #222; cursor: pointer;
	border-color: #ffe600
}

#add-product-fixed .size{
	float: left; width: 100%;
	display: flex; padding: 10px;
}
#add-product-fixed .size .size-btn{
	width: 98%; margin: 1%;
	padding: 10px 20px;
	border: 1px solid #222;
	border-radius: 50px;
}
#add-product-fixed .size .size-btn:hover{
	font-weight: 900; cursor: pointer;
}
#add-product-fixed .size .size-btn-active{
	background: #ffe600; border: 1px solid #ffe600; color: #222; font-weight: 900
}
#add-product-fixed .addon-title{
	float: left; width: 100%;
	padding: 5px 20px;
}
#add-product-fixed .addons{
	float: left; width: 100%;
	padding: 10px;
}
#add-product-fixed .addons .addon-btn{
	float: left; width: 31.333%; margin: 1%;
	padding: 10px;
	background: #eee; border-radius: 6px
}
#add-product-fixed .addons .addon-btn .title{
	float: left; width: 98%; margin: 1%; padding: 5px 15px;
	background: #fff; border-radius: 6px;
	font-size: 14px;
}
#add-product-fixed .addons .addon-btn .buttons{
	float: left; width: 98%; margin: 1% 1% 0px 1%;
}
#add-product-fixed .addons .addon-btn .buttons span{
	float: left; margin-right: 10px;  padding: 5px;
	min-width: 25px; min-height: 25px;
	text-align: center;
	background: #fff; border-radius: 6px;
	font-size: 14px;
}
#add-product-fixed .addons .addon-btn .buttons .minus{
	background: #000; color: #fff; cursor: pointer;
	transition: all .6s
}
#add-product-fixed .addons .addon-btn .buttons .plus{
	background: #000; color: #fff; cursor: pointer;
	transition: all .6s
}
#add-product-fixed .addons .addon-btn .buttons .minus:hover{
	background: #ffe600;
}
#add-product-fixed .addons .addon-btn .buttons .plus:hover{
	background: #ffe600;
}



@media all and (max-width: 1024px){
	#add-product-fixed .top, #add-product-fixed .size{
		display: flex;
		flex-direction: column
	}
	#add-product-fixed .addons .addon-btn{
		width: 98%;
	}
	#add-product-fixed .top .right .price{
		float: left;
	}
}