html,body{
	margin: 0px;
	padding: 0px;
}

* {
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	word-wrap: break-word;
	text-decoration: none
}

a{
	color: #222;
	font-weight: 400;
	text-decoration: none;
}

a:hover{
	color: #47c78b;
	text-decoration: none;
	cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.box{
	float: left; width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	text-align: center
}

#bg{
	background: #ffad16
}